In [ ]:
# name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입한 후 출력하는 프로그램.
name = '홍길동'
age = 18
print(f"이름: {name}, 나이: {age}")

이름: 홍길동, 나이: 18

In [ ]:
c=8
b=c
a=c
print(a,b,c)

8 8 8

In [ ]:
a+=10

In [ ]:
print(a)

18

In [ ]:
a-=10

In [ ]:
print(a)

8

In [ ]:
AGE=100

In [ ]:
age=10

In [ ]:
AGE

100

In [ ]:
age

10

In [ ]:
a = 7
b = 11
a, b = b, a

In [ ]:
print(a,b)

11 7

In [ ]:
# 복합 대입 연산자 += 를 사용하여 3의 배수 처음 네 개 구하기

# 첫 번째 3의 배수
num = 3
print(f"첫 번째 3의 배수: {num}")

# 두 번째 3의 배수
num += 3
print(f"두 번째 3의 배수: {num}")

# 세 번째 3의 배수
num += 3
print(f"세 번째 3의 배수: {num}")

# 네 번째 3의 배수
num += 3
print(f"네 번째 3의 배수: {num}")

첫 번째 3의 배수: 3
두 번째 3의 배수: 6
세 번째 3의 배수: 9
네 번째 3의 배수: 12

In [ ]:
type(age)

int

In [ ]:
a=20
b=0o34
c=0xA1
d=0b1110
print(a,b,c,d)

20 28 161 14

In [ ]:
a=10
b="10"

In [ ]:
c=a+int(b)
print(c)

20

In [ ]:
name=input("이름을 입력")
age=input("나이를 입력")

이름을 입력 이상현
나이를 입력 27

In [ ]:
type(age)

str

In [ ]:
# 사용자에게 값을 입력받기 위한 프롬프트 메시지를 넣어줍니다.
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))
c = a - b
print(f"두 숫자의 차이는 {c} 입니다.")

첫 번째 숫자를 입력하세요: 9
두 번째 숫자를 입력하세요: 5
두 숫자의 차이는 4 입니다.

In [ ]:
name = "홍길동"
age = 30

greating = f"안녕하세요. 제 이름은 (name)이고 나이는 (age)세 입니다."
print(greating)

print(f"내년에는 (age+1)세가 됩니다")

pi = 3.141592
print(f"원주율은 {pi}입니다.")

안녕하세요. 제 이름은 (name)이고 나이는 (age)세 입니다.
내년에는 (age+1)세가 됩니다
원주율은 3.141592입니다.

In [ ]:
a = float(input("원의 반지름을 입력하세요"))
b = 3.14 * a ** 2
print(f"원의 넓이는 {b}입니다.")

원의 반지름을 입력하세요 10
원의 넓이는 314.0입니다.